<%= erb :header %>

<div class="row">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="#hello">ご挨拶</a></li>
      <li><a href="#sns">SNS</a></li>
      <li><a href="#contact">お問い合わせ</a></li>
    </ul>
  </div>
  <div class="col-md-9">
    <section>
    <legend><h4 id="#hello">ご挨拶</h4></legend>
    <p>高校からずーーっと更新し続けています。サーバーを</p>
    <p class="well">
      <a href="http://www.geocities.jp/takkyuuplayer/">Yahoo</a> →&nbsp;
      <a href="http://takkyuuplayer.hp.infoseek.co.jp/">Infoseek</a> →&nbsp;
      <a href="http://takkyuuplayer.ps.land.to/">land.to</a> →&nbsp;
      <a href="http://www21.atpages.jp/takkyuuplayer/"> (＠PAGES) </a> →&nbsp;
      <a href="http://takkyuuplayer.netau.net/"> 000webhost </a> →&nbsp;
      AWS
    </p>
    <p>
    と移動したあと、最終的に<a href="http://vps.sakura.ad.jp/">さくらVPS</a> に行き着きました。
    私のプログラムスキルの発展はこのホームページと共にあったと言ってよいです。
    <p>
      職業としてのWEBエンジニアを選んで以来、
      あまり自身のホームページの事は気にかけなくなりました。
      とはいえ不意に昔作ったコンテンツを見返しては、
      懐かしい思い出に耽っています。
    </p>
    </section>

    <section>
    <legend><h4 id="web_comic">SNS</h4></legend>
      <ul>
        <li><a href="https://github.com/takkyuuplayer/">github</a></li>
        <li><a href="https://twitter.com/takkyuuplayer/">twitter</a></li>
        <li><a href=https://jp.linkedin.com/in/sekiguchi-takafumi-30081731">LinkedIn</a></li>
      </ul>
    </section>

    <section>
    <legend><h4 id="#contact">お問い合わせ</h4></legend>
    <p><a href="http://twitter.com/takkyuuplayer">twitter</a> よりどうぞ</p>
    </section>
  </div>
</div>

<%= erb :footer %>
