<%= erb :header %>

<div class="row">
  <div class="col-md-3">
    <ul class="nav nav-tabs nav-stacked">
      <li><a href="#hello">ご挨拶</a></li>
      <li><a href="#contact">お問い合わせ</a></li>
    </ul>
  </div>
  <div class="col-md-9">
    <section>
    <legend><h4 id="#hello">ご挨拶</h4></legend>
    <p>高校からずーーっと更新し続けています。無料レンタルサーバーを</p>
    <p class="well">
      <a href="http://www.geocities.jp/takkyuuplayer/">Yahoo</a> →&nbsp;
      <a href="http://takkyuuplayer.hp.infoseek.co.jp/">Infoseek</a> →&nbsp;
      <a href="http://takkyuuplayer.ps.land.to/">land.to</a> →&nbsp;
      <a href="http://www21.atpages.jp/takkyuuplayer/"> (＠PAGES) </a> →&nbsp;
      <a href="http://takkyuuplayer.netau.net/"> 000webhost </a>
    </p>
    <p>
      と移動したあと、最終的に AWS に行き着きました。
      私のプログラムスキルの発展はこのページと共にあったと言ってよいです。
      そのためかJavaとかPHPとかWEBで使われそうな言語との親和性が高く、 そしてC/C++, .Net系言語には馴染みが薄いです。
      Google級プログラマを目指す私としてはそこが問題です。 デザインセンスの無さも問題です。
    </p>
    </section>

    <section>
    <legend><h4 id="#contact">お問い合わせ</h4></legend>
    <p><a href="http://twitter.com/takkyuuplayer">twitter</a> よりどうぞ</p>
    </section>
  </div>
</div>

<%= erb :footer %>
