<%= erb :header %>

<div class="row-fluid">
  <div class="span3">
    <ul class="nav nav-tabs nav-stacked">
      <li><a href="#web_comit">WEB漫画</a></li>
      <li><a href="#computer">Computer</a></li>
      <li><a href="#tool">Tool</a></li>
      <li><a href="#friends">友人のページ</a></li>
    </ul>
  </div>

  <div id="links" class="span9">
    <section>
    <legend><h4 id="web_comic">WEB漫画</h4></legend>
    <a href="http://t-taks.com/" title="オーシャンまなぶ" target="_blank">
      <img class="img-polaroid" src="http://t-taks.com/images/logo.png" class="img-polaroid" alt="t-taks – WEB漫画 オーシャンまなぶ" title="オーシャンまなぶ">
    </a>
    <a href="http://cba5.boo.jp/" title="魔道、十字道、拳道" target="_blank">
      <img class="img-polaroid" src="http://www.h3.dion.ne.jp/~cba/pd17.png" alt="WEB漫画サイト PD" title="魔道、十字道、拳道">
    </a>
    <a href="http://galaxyheavyblow.web.fc2.com/" title="ワンパンマン" target="_blank">
      <img class="img-polaroid" src="http://a2.twimg.com/profile_images/1374558448/tuitta_reasonably_small.jpg" alt="ワンパンマン" title="ワンパンマン">
    </a>
    </section>

    <section>
    <legend><h4 id="computer">Computer</h4></legend>
    <a href="http://www.apachefriends.org/jp/xampp-windows.html" title="ウェブサーバーテスト環境の構築" target="_blank">
      <img class="img-polaroid" src="http://www.apachefriends.org/img/xampp-logo-new.gif" alt="apache friends – xampp for windows" title="ウェブサーバーテスト環境の構築">
    </a>
    <a href="https://www.dreamspark.com/" title="学生なら無料で使えるMicrosof社製品" target="_blank">
      <img class="img-polaroid" src="http://www.icesi.edu.co/blogs/egatic/files/2010/07/dreamspark.png" alt="Microsoft DreamSpark" title="学生なら無料で使えるMicrosof社t製品">
    </a>
    <a href="http://mergedoc.sourceforge.jp/" title="日本語化されたEclipse" target="_blank">
      <img class="img-polaroid" src="http://mergedoc.sourceforge.jp/image/header.png" alt="Pleiades – Eclipse プラグイン日本語化プラグイン" title="日本語化されたEclipse">
    </a>
    <a href="http://www.topcoder.com/" title="アルゴリズムの勉強" target="_blank">
      <img class="img-polaroid" src="http://grokcode.com/wordpress/wp-content/uploads/top_coder1.png" alt="Top Coder" title="アルゴリズムの勉強">
    </a>
    <a href="http://www.000webhost.com/" title="かなり使える無料レンタルサーバー" target="_blank">
      <img class="img-polaroid" src="http://www.000webhost.com/images/120x60_powered.gif" alt="Web Hosting" title="かなり使える無料レンタルサーバー">
    </a>
    </section>

    <section>
    <legend><h4 id="tool">Tool</h4></legend>
    <a href="http://homepage2.nifty.com/autumn-soft/mathnote.htm" title="数式の作成に便利なMathNote" target="_blank">
      <img class="img-polaroid" src="http://homepage2.nifty.com/autumn-soft/img/mathbrd.gif" alt="MathNote" title="数式の作成に便利なMathNote">
    </a>
    <a href="http://www.math.sci.hokudai.ac.jp/~abenori/soft/abtexinst.html" title="数式文書作成ソフトlatexのインストーラ" target="_blank">
      <img class="img-polaroid" src="http://upload.wikimedia.org/wikipedia/commons/thumb/9/92/LaTeX_logo.svg/800px-LaTeX_logo.svg.png" alt="TeXインストーラ 3" title="数式文書作成ソフトlatexのインストーラ">
    </a>
    <a href="http://hide.maruo.co.jp/software/hidemaru.html" title="テキストエディタ" target="_blank">
      <img class="img-polaroid" src="http://hide.maruo.co.jp/software/image/hm_icon.gif" alt="秀まるおのホームページ(サイトー企画)－秀丸エディタ" title="テキストエディタ">
    </a>
    <a href="http://www.takke.jp/" title="P-Study Systemは使えます。私はフリー版を使ってます。" target="_blank">
      <img class="img-polaroid" src="http://www.takke.jp/img/pss-banner.png" alt="英単語学習ソフト P-Study System 公式サイト" title="P-Study Systemは使えます。私はフリー版を使ってます。">
    </a>
    </section>

    <section>
    <legend><h4 id="friend">友人のページ</h4></legend>
    <a href="http://www.geocities.jp/hydrogen1114/index1.htm" rel="friend" title="ガンダムとか。化学とか。毎日よくあれだけ日記がかけるよ。" target="_blank">
      <img class="img-polaroid" src="http://takkyuuplayer.ps.land.to/link/hydrogen.jpg" alt="MISTRAL MEMORIES" title="ガンダムとか。化学とか。毎日よくあれだけ日記がかけるよ。">
    </a>
    </section>
  </div>
</div>

<%= erb :footer %>



