<%= erb :header %>

<div class="row">
  <div class="col-md-3">
    <ul class="nav nav-tabs nav-stacked">
      <li class="nav-header">Stand Alone</li>
      <li><a href="#pcend">PcEnd</a></li>
      <li><a href="#cipher">Cipher</a></li>
      <li><a href="#gufa">Gufa</a></li>
      <li><a href="#autoie">AutoIE</a></li>
      <li class="nav-header">Out of date</li>
      <li><a href="#mixc">mixc</a></li>
      <li><a href="#mixi_checker">mixi_checker</a></li>
      <li><a href="#sta6dview">Sta6DView</a></li>
    </ul>
  </div>

  <div class="col-md-9">
    <section>
    <legend><h4>Softwares</h4></legend>
    <dl>
      <dt id="pcend">PcEnd</dt>
      <dd>
      <p>
      どうしてもパソコンを起動してしまう人向け。指定時間帯はパソコンを起動できなくする。
      指定時間前から使用を続けていた場合は、そのまま使用続行。
      </p>
      <ul class="list-unstyled">
        <li>公開日: 2004/10/06</li>
        <li>動作確認: WindowsXP HomeEdition</li>
        <li>バージョン: 1.05 (2004/12/20)</li>
      </ul>
      <p><a href="/software/pcend.zip">Download</a></p>
      </dd>

      <dt id="cipher">Cipher</dt>
      <dd>
      <p>
      ファイルの暗号化ソフトです。ＲＳＡで暗号化しているので非常に時間がかかります。
      １ＭＢを暗号化するとパスワードにもよりますが約30秒かかります。
      </p>
      <ul class="list-unstyled">
        <li>公開日: 2004/12/20</li>
        <li>動作確認: WindowsXP HomeEdition</li>
        <li>バージョン: 1.01 (2004/12/30)</li>
      </ul>
      <p><a href="/software/cipher.zip">Download</a></p>
      </dd>

      <dt id="gufa">Gufa</dt>
      <dd>
      <p>
      DL-Videoのエンジンを利用して，表示中のページからリンクされている全ての動画をダウンロード。
      Rapgetを利用して海外アップローダからファイルをダウンロード。
      Mangahelperのデータをダウンロード。
      </p>
      <ul class="list-unstyled">
        <li>公開日: 2008/05/17</li>
        <li>動作確認: WindowsXP, Windows Vista</li>
        <li>バージョン: 2.03 (2009/03/02)</li>
      </ul>
      <p><a href="/software/gufa.zip">Download</a></p>
      </dd>

      <dt id="autoie">AutoIE</dt>
      <dd>
      <p>
        IE を自動で動かす
      </p>
      <p><a href="/software/autoie.zip">Download</a></p>
      </dd>
    </dl>
    </section>

    <section>
    <legend><h4>Out of date</h4></legend>
    <dl>
      <dt id="mixc">mixc</dt>
      <dd>
      <p>
        mixiの日記に出てきた単語数，コメント回数などを計算
      </p>
      <ul class="list-unstyled">
        <li>公開日: 2009/03/31</li>
        <li>動作確認: WindowsXP, Windows Vista </li>
        <li>バージョン: 1.10 (2009/10/25)</li>
      </ul>
      <p><a href="/software/mixc.zip">Download</a></p>
      </dd>

      <dt id="mixi_checker">mixi_checker</dt>
      <dd>
      <p>
        日記の更新，コメントへの返信をメールでお知らせ
      </p>
      <ul class="list-unstyled">
        <li>公開日: 2009/03/31</li>
        <li>動作確認: WindowsXP, Windows Vista </li>
        <li>バージョン: 1.10 (2009/10/25)</li>
      </ul>
      <p><a href="/software/mixi_checker.zip">Download</a></p>
      </dd>

      <dt id="sta6dview">Sta6DView</dt>
      <dd>
      <p>
        "Stage6勝手にDB" にある動画の存在チェック
      </p>
      <ul class="list-unstyled">
        <li>公開日: 2007/11/27</li>
      </ul>
      </dd>
    </dl>
    </section>
  </div>
</div>

<%= erb :footer %>


