<%= erb :header %>

<div class="row-fluid">
  <div class="span3">
    <ul class="nav nav-tabs nav-stacked">
      <li class="nav-header">Stand Alone</li>
      <li><a href="#pcend">PcEnd</a></li>
      <li><a href="#cipher">Cipher</a></li>
      <li><a href="#gufa">Gufa</a></li>
      <li><a href="#mixc">mixc</a></li>
      <li><a href="#mixi_checker">mixi_checker</a></li>
      <li><a href="#autoie">AutoIE</a></li>
      <li><a href="#broken">廃止になったもの</a></li>
    </ul>
  </div>

  <div class="span9">
  </div>
</div>

<%= erb :footer %>


