<%= erb :header %>

<div class="row">
  <div class="col-md-3">
    <ul class="nav nav-tabs nav-stacked">
      <li class="nav-header">Java Applet</li>
      <li><a href="/webapp/under99">Under99</a></li>
      <li class="active"><a href="/webapp/tape">テープメッセージ</a></li>
      <li><a href="/webapp/imginfo">画像の情報局</a></li>
      <li><a href="/webapp/organ">電子オルガン</a></li>
      <li><a href="/webapp/board">電光掲示板</a></li>
      <li class="nav-header">Web Apps</li>
      <li><a target="_blank" href="http://atetter.takkyuuplayer.com/">当てったー</a></li>
    </ul>
  </div>

  <div class="col-md-9">
    <section>
    <legend><h4>テープメッセージ</h4></legend>
    <p>
    2006/09/22
    タイピングで打っているようなメッセージ
    最終Version.
    </p>

    <p>
    <applet codebase="/java/" code="TapeMessage.class" width="200" height="40">
      <param name="message" value="Hello, everyone!">Hello
    </applet>
    </p>
    </section>
  </div>
</div>

<%= erb :footer %>



