<%= erb :header %>

<div class="row">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
      <li>Java Applet</li>
      <li><a href="/webapp/under99">Under99</a></li>
      <li><a href="/webapp/tape">テープメッセージ</a></li>
      <li><a href="/webapp/imginfo">画像の情報局</a></li>
      <li><a href="/webapp/organ">電子オルガン</a></li>
      <li><a href="/webapp/board">電光掲示板</a></li>
      <li>Web Apps</li>
    </ul>
  </div>

  <div class="col-md-9">
    <section>
    <legend><h4>Java Applet</h4></legend>
    <dl>
      <dt>Under99</dt>
      <dd>2004/05/20 トランプの合計を99以上にしたほうが負け。 Jokerは何でもOK。計算は各自で</dd>

      <dt>テープメッセージ</dt>
      <dd>2006/09/22 タイピングで打っているようなメッセージ 最終Version. </dd>

      <dt>画像の情報局</dt>
      <dd>2006.09.23 絵の上にマウスを当てると説明が出てくる。 最終Version.</dd>

      <dt>電子オルガン</dt>
      <dd>2006.09.23 左クリックで音を出す，右クリックで音を出しっぱなしにする 最終Version.</dd>

      <dt>電光掲示板</dt>
      <dd>2006.09.26 メッセージが流れてるだけ 最終Version.</dd>
      </section>

      <section>
      <legend><h4>Web Apps</h4></legend>
      </section>
  </div>
</div>

<%= erb :footer %>

