article.history ul {
    height:12em;
    overflow:auto;
    padding-left:20px;
}
article.history .text {
    padding-left:2em;
    padding-bottom:1em;
}
.baseline-middle {
    padding-top: 15px;
}

section {
    padding-bottom: 20px;
}

#links img {
    height: 62px;
    margin-right: 5px;
    margin-bottom: 5px;
}
