article.blog ul {
    height:12em;
    overflow:auto;
    padding-left:20px;
}
article.blog li {
    margin-bottom: 10px;
}
article.blog li a {
	display: block;
}
article.history ul {
    height:12em;
    overflow:auto;
    padding-left:20px;
}
article.history li.text {
    margin-bottom: 10px;
}

.baseline-middle {
    padding-top: 15px;
}

section {
    padding-bottom: 20px;
}

#links img {
    height: 62px;
    margin-right: 5px;
    margin-bottom: 5px;
}
